# Web framework
flask
flask-cors
werkzeug

# HTTP
requests

# Image processing
Pillow
opencv-python-headless
numpy

# GPIO
gpiozero
smbus2
spidev

# Monitoring
prometheus-client
prometheus-flask-exporter
